<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Goodbye forever, <%= @user.full_name %></h1>
    <p>
      Your actions displeased Brian the Destroyer.<br>
    </p>
    <p>
      As a result, you no longer exist.
    </p>
    <p>Have a blessed day.</p>
  </body>
</html>